*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #dfdfdf;
    font-family: 'Inter Variable', sans-serif; 
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}